<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
  <h2>REGISTER</h2>
  <form action="/auth/create" method="post">
       <div>
         <input placeholder="Enter your name" type="text" name="name" required>
       </div>
      <div>
         <input placeholder="Enter your email" type="email" name="email" required>
       </div>
      <div>
         <input placeholder="Enter your password" type="password" name="password" required>
       </div>
      <button>RGISTER</button>
  </form>
</body>
</html>